
     <!-- Visitor account edit -->

<html>
    <head>
     <title>Visitor Profile edit </title>
     <meta name="viewport" content="width=device-width,
initial-scale=1.0, user-scalable=yes">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
                      
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css"/>
</head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<body>
<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="image/KK.png" alt="Logo Image" style="width: 60%;padding-left: 15%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" >
      <span class="navbar-toggler-icon"style="color: royalblue;background-color: #0995DA;" ></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: royalblue;">HOME   &nbsp; &nbsp; &nbsp; </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"style="color: royalblue;"> ABOUT  &nbsp; &nbsp; &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"style="color: royalblue;"> PHYSIOLOGICAL TESTS &nbsp; &nbsp; &nbsp;</a>
        </li>    
           <li class="nav-item">
          <a class="nav-link" href="#"style="color: royalblue;"> THERAPIST LIST &nbsp; &nbsp; &nbsp;</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#"style="color: royalblue;">  MAGAZINE&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#"style="color: royalblue;">  REGISTER&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</a>
        </li>
          
      </ul>
    </div>
  </div>
</nav>

        
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
    
</script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- CDN JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Jasny Bootstrap and JS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>
    <!-- Bootstrap select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/i18n/defaults-ua_UA.js"></script>
    <!-- 
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<div class="container-fluid">
    <div class="row">
        <div class="container mt-5 bootstrap snippet">
            <div class="row">
          		<div class="col-sm-3">
                        <li class="list-group-item" style="font-size: 20;"><center>User Name<span style="font-size: 15;  font-style: italic;color: gray;
">(visitor)</span><br><br><a href="url">
                 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container">
    <img src="image/Ms.%20Hala%20Al%20Hawary.png" alt="User Pic"id="profileImage" class="img-thumbnail" style="border-radius: 50%;width: 100;"><br><br><span style="font-size: 15;"> <i class="fa fa-pencil-square-o" aria-hidden="true" >  Edit Picture</i></span>
                           

<input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture><br><br>
<script>

$("#profileImage").click(function(e) {
    $("#imageUpload").click();
});

function fasterPreview( uploader ) {
    if ( uploader.files && uploader.files[0] ){
          $('#profileImage').attr('src', 
             window.URL.createObjectURL(uploader.files[0]) );
    }
}

$("#imageUpload").change(function(){
    fasterPreview( this );
});
</script> </div></a></center></li>
 <br>
                  
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Messages
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>                 
                    <br>

                </div><!--/col-3-->
                     
            	<div class="col-sm-9">
            	    <div class="card text-center">
                        <div class="card-header">
                    	    <ul class="nav nav-tabs nav-fill card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="history-order-tab" data-toggle="tab" href="#history-order" role="tab" aria-controls="profile" aria-selected="false"> Payment Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="bonus-list-tab" data-toggle="tab" href="#bonus-list" role="tab" aria-controls="contact" aria-selected="false"> My sessions</a>
                                </li>
                             
                                <!--<li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Выход</a>
                                </li>-->
                            </ul>
                        </div>
                        <div class="tab-content card-body" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-6">
                                        <form class="needs-validation" novalidate>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationTooltip01">Nickname <span style="color: gray;font-size: 15;">(required)</span></label>
                                                    <input type="text" class="form-control" id="validationTooltip01" placeholder=" Enter your nickname"  required>
                                                    <div class="valid-feedback">
                                                       valid !
                                                    </div>
                                                    <div class="invalid-feedback">
                                                          required !
                                                    </div>
                                                </div>
                                                    <label for="validationTooltip02"><center>Mobile <span style="color: gray;font-size: 15;">(Optional)</span></center></label>
                                                     <div class="form-group input-group">
    
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+961</option>
		    <option value="1">+972</option>
		    <option value="2">+198</option>
		    <option value="3">+701</option>
		</select>
    	<input name="" class="form-control" placeholder="Enter your mobile number" type="text">
    </div>
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationTooltip03">E-mail <span style="color: gray;font-size: 15;">(required)</span></label>
                                                    <input type="email" class="form-control" id="validationTooltip03" placeholder="Enter your mobile email"  required>
                                                    <div class="valid-feedback">
                                                       Valid !
                                                    </div>
                                                    <div class="invalid-feedback">
required !                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">City <span style="color: gray;font-size: 15;">(required)</span></label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Amman</option><option>Zarqa</option><option>Irbid</option><option>Aqaba</option><option>Sahab</option><option>Ma'an	</option>
      </select>
    </div> <div class="form-group col-md-6">
      <label for="inputState">Gender <span style="color: gray;font-size: 15;">(required)</span></label>
      <select id="inputState" class="form-control">
                  <option selected>Choose...</option>

        <option >Female</option>
                  <option >Male</option>
                  <option >Other</option>
      </select>
                                                      
    </div>

  </div>
                                                   
                                                </div>
                                               
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-6">
                                          <div class="col-md-12 mb-3">
                                    <label for="validationTooltip02">Birthday <span style="color: gray;font-size: 15;">(required)</span></label>
        <input  class="form-control" type="date" id="birthday" name="birthday" required>
                                                    
                                        </div> 
   
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="tab-pane fade" id="history-order" role="tabpanel" aria-labelledby="history-order-tab">
                                                <style>


.mt-50 {
    margin-top: 5px
}

.mb-50 {
    margin-bottom: 50px
}

@media(max-width:767px) {
    .card {
        width: 90%;
        padding: 1.5rem
    }
}

@media(height:1366px) {
    .card {
        width: 90%;
        padding: 8vh
    }
}

.card-title {
    font-weight: 700;
    font-size: 2.5em
}

.nav {
    display: flex
}

.nav ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: unset;
    margin-bottom: 6vh
}

.nav li {
    padding: 1rem
}

.nav li a {
    color: black;
    text-decoration: none
}

.active {
    border-bottom: 2px solid black;
    font-weight: bold
}

input {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    width: 100%;
    min-width: unset;
    background-color: transparent;
    border-color: transparent;
    margin: 0
}

form a {
    color: grey;
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: bold
}

form a:hover {
    color: grey;
    text-decoration: none
}

form .row {
    margin: 0;
    overflow: hidden
}

form .row-1 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    overflow: hidden
}

form .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem
}

form .row .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem
}

form .row .col-2,
.col-7,
.col-3 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1vh
}

form .row .col-2 {
    padding-right: 0
}

#card-header {
    font-weight: bold;
    font-size: 0.9rem
}

#card-inner {
    font-size: 0.7rem;
    color: gray
}

.three .col-7 {
    padding-left: 0
}

.three {
    overflow: hidden;
    justify-content: space-between
}

.three .col-2 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    width: fit-content;
    overflow: hidden
}

.three .col-2 input {
    font-size: 0.7rem;
    margin-left: 1vh
}

.btn {
    width: 100%;
    background-color: rgb(65, 202, 127);
    border-color: rgb(65, 202, 127);
    color: white;
    justify-content: center;
    padding: 2vh 0;
    margin-top: 3vh
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}</style>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="card mt-50 mb-50">
  
    <form> <span id="card-header" style="font-size: 18;"><br>Saved cards:</span>
        <div class="row row-1">
            <div class="col-2"><img class="img-fluid" src="https://cdn3.iconfinder.com/data/icons/creditcarddebitcard/128/mastercard-straight.png" style="width: 70;" /></div>
            <div class="col-7"> <input type="text" placeholder="**** **** **** 3621"> </div>
            <div class="col-3 d-flex justify-content-center"> <a href="#">Remove card</a> </div>
        </div>
        <div class="row row-1">
            <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" style="width: 70;" /></div>
            <div class="col-7"> <input type="text" placeholder="**** **** **** 1288"> </div>
            <div class="col-3 d-flex justify-content-center"> <a href="#">Remove card</a> </div>
        </div> <span id="card-header"style="font-size: 18;">Add new card:</span>
        <div class="row-1">
            <div class="row row-2"> <span id="card-inner">Card holder name</span> </div>
            <div class="row row-2"> <input type="text" placeholder="Dania Omar"> </div>
        </div>
        <div class="row three">
            <div class="col-7">
                <div class="row-1">
                    <div class="row row-2"> <span id="card-inner">Card number</span> </div>
                    <div class="row row-2"> <input type="text" placeholder="5134-5264-4"> </div>
                </div>
            </div>
            <div class="col-2"> <input type="text" placeholder="Exp. date"  > </div>
            <div class="col-2"> <input type="text" placeholder="CVV"> </div>
        </div> <button class="btn d-flex mx-auto"><b>Add card</b></button>
    </form>
</div>

                            </div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                     
          <script>
$(document).ready(function(){
  $("button").click(function(){
    $("tr").remove();
  });
});
</script>                  
                            
                            
                            <div class="tab-pane fade" id="bonus-list" role="tabpanel" aria-labelledby="bonus-list-tab">
                                <div class="alert alert-success" role="alert">
There is a 2 sessions this week!                                </div>
                                <table class="table table-sm table-hover table-bordered table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col"scope="col" style="width:20%">Name</th>
                                            <th scope="col">Date</th>
                                            <th scope="col" style="width:10%">Time</th>
                                            <th scope="col">Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><span>
                                             <th scope="row">Dr. Tareq Hamzeh</th>
                                            <td>Today</td>
                                            <td>13:30 PM</td>
                                            <td>Please be available in your session time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-times" aria-hidden="true" style="color:red;"></i></a>
</td>
                                            
</span>
                                        </tr>
                                        <tr>
                                           <th scope="row">Dr. Ali Jawad</th>
                                            <td>2.6.2022</td>
                                            <td>1 PM</td>
                                            <td>None&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-times" aria-hidden="true" style="color:red;"></i></a></td>
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                            </div>
                             <center>  <button class="btn btn-primary" type="submit" style="width: 10%;">Save</button></center>
                            <div class="tab-pane fade" id="download-file" role="tabpanel" aria-labelledby="download-file-tab">
                                <table class="table table-sm table-hover table-bordered table-striped">
                                    <caption>Показано с 1 по 1 из 1 (всего 1 страниц)</caption>
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">№ Заказа</th>
                                            <th scope="col">Название</th>
                                            <th scope="col">Размер</th>
                                            <th scope="col">Дата добавления</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="align-middle" scope="row">3</th>
                                            <td class="align-middle">лпрл</td>
                                            <td class="align-middle">427.85KB</td>
                                            <td class="align-middle">18.07.2019</td>
                                            <td class="align-middle"><a href="/" class="btn btn-primary btn-sm"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--/col-9-->
            </div><!--/row-->
            
        </div>     
    </div> 
</div>                               
   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>     

<!--footer -->
    <link rel="stylesheet" href="sttyle.css" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />


	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="style.css">
<style>
 
.main {
	height: 550px;;
	background-color: #262626;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;	height: 270px;  
    /* <!--footerheight --> */


}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}
    
    </style>

		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Psychonauts<span>website</span></h3>

				<p class="footer-links" style="font-size: 15; font-family: serif;" >
			Feeling better starts with a single click ..
					<a href="" style="font-size: 20; font-family: serif;">Join us !</a>
				</p>

				<p class="footer-company-name">Psychonauts &copy; 2022</p>
			</div>

			<div class="footer-center">

				<div style="font-size: 15; font-family: serif;">
					<i class="fa fa-map-marker"></i>
					<p ><span style="font-size: 17; font-family: serif;">Amman </span> Jordan</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p style="font-size: 17; font-family: serif;">028398308</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com" style="font-size: 17; font-family: serif;">Psychonauts@gmail.com
</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About our company</span>
					Psychonauts is a website for For people who need immediate psychological help.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

</body></html>