
<html>
    <head></head>
    <body>

        <% docs.forEach(doc => { %>
            <ul>
                <li><%= doc.name %></li>
                <li><%= doc.email %></li>
                <li><%= doc.gender %></li>
            </ul>
        <% }); %>
    </body>
</html>
