<h1>Hi <%=name%></h1>
<h1>Hi <%=password%></h1>

<!-- <% if(name) { %> <h1>hello <%=name%></h1> <% } %>
<% if(!name) { %> <h3>login please </h3> <% } %> -->

<form action="/logout?_method=DELETE" method="post">
    <button type="submit">Log Out</button>
</form>