<h1>Update</h1>

<form action="/update" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value=<%= name %> required>
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value=<%= email %>  required>
    </div>

    <button type="submit">Update</button>
</form>
<!-- <a href="/login">Login</a> -->